RewriteEngine On

# Запрещаем прямой доступ к системным папкам (403 Forbidden)
RewriteRule ^(error_pages|pages|includes|config|enums|core)/ index.php?route=403 [L,QSA]

# Для всех остальных: если нет файла и нет папки – роутинг на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]